@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    text-align: center;
}

button {
    border-style: none;
    background-color: #e8e8e8;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: medium;
}

@media only screen and (orientation: portrait) {
    body {
        zoom: 200%;
    }

    html,
    body,
    .container {
        height: 95%;
    }
}