@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: large;
    text-align: center;
}

button {
    border-style: none;
    background-color: #e8e8e8;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
}

@media only screen and (orientation: portrait) {
    body {
        zoom: 215%;
    }

    html,
    body,
    .App {
        height: 95%;
    }

    .App {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}